@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --font-Goorm: 'goormSans', sans-serif;
}

@font-face {
  font-family: 'goormSans';
  src: url('/fonts/goorm-sans-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'goormSans';
  src: url('/fonts/goorm-sans-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'goormSans';
  src: url('/fonts/goorm-sans-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-Goorm);
}

/* 다크 모드 설정
@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-Goorm);
}
